{% extends "user_interface.html" %}
{% block content %}

{% if error %}
<div class="alert alert-info alert-server" role="alert">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Error: </strong> {{ error }}
</div>
{% endif%}

<center>
<h1>Text Extraction</h1>
<form action="{{ url_for('file_upload')}}"  enctype="multipart/form-data" method="post" style="max-width:400px;margin:auto">
    <br><b>What is the image file to upload?</b><br><br>
        <div class="a"><input type="file" name="uploadedfile" accept="image/*"></div><br>
    <br>
    <div class="btn-group" role="group" aria-label="Basic example">
    <button type="reset" class="btn btn-primary">Reset </button>
    <button type="submit" class="btn btn-success">Upload</button>
    </div>
    <br><br>
    {% if url_!=None %}
    <div class="ex1"><img src="{{ url_ }}" alt="image" , style="width:400px",class="center"></div>
    {% endif %}

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Image2Text Result</label>
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="15">
            {{text if text != None}}
        </textarea>
    </div>
</form>
</center>

<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>

{% endblock %}