<style>
.textAreaColumn{
    width:100%;
}
.textAreaColumn div{
    float:left;
    width:50%;
    padding:40px;
    box-sizing: border-box;
}

.textAreaColumn div span{
    display:block;
    text-align:center;
}
</style>

{% extends "user_interface.html" %}
{% block content %}
<center>
<br>
        <h1>Grammar checker</h1>
        <form method='post' action='{{ url_for('grammar_submit')}}'>
            <div class="textAreaColumn">
                <div>
                    <span><b>Text Input</b></span>
                    <textarea class="input-field"  name="text"
                              placeholder="Target text to check"
                              style="align-content:left" rows="20" cols="80">{{Text if Text != None}}</textarea>
                </div>
            </div>
    <br><br>
            <span><b>Grammar check result</b></span><br>
From: {{original if original!= None}}
<br>
To: {{corrected if corrected!= None}}
<div><button type="submit" class="btn btn-primary">Analyze</button> <br></div>
    </form>
    </center>
{% endblock %}



