<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Issues</title>

    <style>
        table {
           margin: 3pt;
        }

     </style>
</head>
<body>
        {% for issue in issues %}
            <table>
            {% for key in issue %}
                <tr>
                    <td>
                        {{ key }}
                    </td>

                    <td>
                        {{ issue[key] }}
                    </td>
                </tr>
            {% endfor %}
            </table>
        {% endfor %}

    </table>


</body>
</html>